body{
    margin: 0;
    padding: 0;
}
.green-btn{
    background-color: green;
    color: white;
    border-radius: 11px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-top: 5px;
    
}
.green-btn:hover{
    background-color: darkgreen
}
.red-btn{
    background-color:red;
    color: white;
    border-radius: 11px;
    border-radius: 11px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-top: 5px;
}    
.red-btn:hover{
    background-color: blue;
}
    
#navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid black ;
}
#nav{
    display: flex;
    gap: 35px;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
#navbar p{
    font-size:  20px;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}

.student-item{
    display: flex;
    box-shadow: 0px 2px 4px black;                                                                                                                                                                ;
    width: 80%;
    border-radius: 10px;
    border-color: cadetblue;
    justify-content: space-evenly;
    align-items: center;
}
#student-list{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.present{
    color: green;
}
.absent{
    color: red;
}
@media(max-width: 720px){
    .hide-mobile{
        display: none;
    }
}